<nav>
    <% if(user) { %>
            <a href="/spots">All Spots</a>
            <a href="/spots/new">Add New Spot</a>
            <a href="/profile">My Profile</a>
            <a href="/auth/logout">Logout</a>
          <% } else { %>
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Sign Up</a>
          <% } %>
</nav>